@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.qz-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
